#confirm-section{
    text-align: center;
    padding: 4% 8%;
}
#confirm-section img{
    height: 300px;
}

#confirm-section p{
    margin-top: 10px;
}

@media(max-width:430px){
    #confirm-section img{
        height: 200px;
    }  
    #confirm-section h3{
        font-size: 16px;
    }
    #confirm-section p{
        font-size: 12px;
    }
}
@media(max-width:300px){
    #confirm-section img{
        height: 150px;
    }
}