#checkout-section{
    padding: 4% 8%;
}

#heading{
    font-weight: 300;
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 60px;
}

#cart-detail{
    display: flex;
    justify-content: space-between;
}

#cart-item-wrapper{
    width: 52%;
}
#product-total{
    width: 48%;
}

#cart-item-wrapper>p{
    color: rgb(27, 25, 25);
    letter-spacing: 1px;
    font-size: 20px;
}
.cart-item{
    display: flex;
    width: 90%;
    margin-top: 25px;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 40%);
    position: relative;
}
.cart-item >img{
    width: 80px;
    height: 100px;
    border-radius: 4px;
}

.detail{
    padding-left: 15px;
}
.detail h3{
    font-weight: 600;
}
.detail p{
    margin-top: 8px;
}

#price-detail{
    width: 85%;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 40%);
}
#price-detail h2{
    font-weight: 400;
}
#price-detail p{
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 300;
}
#total-amount{
    font-size: 20px;
    font-weight: bold;
}
#place-order-btn,.remove-btn{  
    font-size: 16px;
    margin-top: 50px;
    font-weight: 300;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}
#place-order-btn:hover,.remove-btn:hover{
    transform: scale(1.02,1.02);
    box-shadow: 0 2px 10px rgb(0 0 0 / 80%);
}
.remove-btn{
    margin: 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
@media(max-width:1120px){
    #cart-detail{
        flex-wrap: wrap;    
    }
    #cart-detail>div{
        width: 100%;
    }
    .cart-item{
        width: 60%;
    }
    #price-detail{
        width: 50%;
    }
}
@media(max-width:900px){
    .cart-item{
        width: 80%;
    }
}
@media(max-width:768px){
    #price-detail{
        width: 70%;
    }
}
@media(max-width:578px){
    .cart-item{
        width: 100%;
    }
}
@media(max-width:578px){
    .cart-item{
        width: 100%;
    }
    #price-detail{
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }
}
@media(max-width:450px){
    .remove-btn{
        position: static;
        margin-top: 5px;
    }
}